<div>
  <nav class="navbar navbar-expand navbar-dark bg-dark">
    <table
      style="height: 36px; width: 102.136%; border-collapse: collapse; border-style: hidden; margin-left: auto; margin-right: auto;"
      border="1">
      <tbody>
        <tr style="height: 18px;">
          <td style="width: 25%; height: 18px;">
            <h4><a routerLink="clients" class="nav-link">All Clients</a></h4>
          </td>
          <td style="width: 25.3884%; height: 18px;">
            <h4><a routerLink="contacts" class="nav-link">All Contacts</a></h4>
          </td>
          <td style="width: 25.7766%; height: 18px;">
            <h4><a routerLink="vacancies" class="nav-link">All Vacancies</a></h4>
          </td>
          <td style="width: 24.8059%; height: 18px;">
            <h4><a routerLink="candidates" class="nav-link">All Candidates</a></h4>
          </td>
        </tr>
        <tr style="height: 18px;">
          <td style="width: 25%; height: 18px;">
            <h4> <a routerLink="addClient" class="nav-link">Add new Client</a></h4>
          </td>
          <td style="width: 25.3884%; height: 18px;">
            <h4><a routerLink="addContact" class="nav-link">Add new Contact</a></h4>
          </td>
          <td style="width: 25.7766%; height: 18px;">
            <h4><a routerLink="addVacancy" class="nav-link">Add new Vacancy</a></h4>
          </td>
          <td style="width: 24.8059%; height: 18px;">
            <h4><a routerLink="addCandidate" class="nav-link">Add new candidate</a></h4>
          </td>
        </tr>
      </tbody>
    </table>
  </nav>

  <div class="container mt-3">
    <router-outlet></router-outlet>
  </div>
</div>