<div>
  <nav class="navbar navbar-expand navbar-dark bg-dark">
    <div class="navbar-nav mr-auto">
      <li class="nav-item">
        <a routerLink="clients" class="nav-link">All Clients</a>
      </li>
      <li class="nav-item">
        <a routerLink="addClient" class="nav-link">Add new Client</a>
      </li>
      <li class="nav-item">
        <a routerLink="contacts" class="nav-link">All Contacts</a>
      </li>
      <li class="nav-item">
        <a routerLink="addContact" class="nav-link">Add new Contact</a>
      </li>
      <li class="nav-item">
        <a routerLink="addVacancy" class="nav-link">Add new Vacancy</a>
      </li>
      <li class="nav-item">
        <a routerLink="vacancies" class="nav-link">All Vacancies</a>
      </li>
      <li class="nav-item">
        <a routerLink="addCandidate" class="nav-link">Add new candidates</a>
      </li>
      <li class="nav-item">
        <a routerLink="candidates" class="nav-link">All Candidates</a>
      </li>
    </div>
  </nav>

  <div class="container mt-3">
    <router-outlet></router-outlet>
  </div>
</div>