<div class="list row">
  <div class="col-md-8">
    <div class="input-group mb-3">
      <input type="text" class="form-control" placeholder="Search by name" [(ngModel)]="name" />
      <div class="input-group-append">
        <button class="btn btn-outline-secondary" type="button" (click)="searchName()">
          Search
        </button>
      </div>
    </div>
  </div>


  <div class="col-md-6">
    <h4>Clients List</h4>
    <ul class="list-group">
      <li class="list-group-item" *ngFor="let client of clients; let i = index" [class.active]="i == currentIndex"
        (click)="setActiveClient(client, i)">
        {{ client.name }}
      </li>
    </ul>

  </div>

  <div class="form-style-5">
    <div *ngIf="currentClient">
      <h4>Client Details</h4>
      <div>
        <label><strong>Name:</strong> {{ currentClient.name}} </label>
      </div>
      <div>
        <label><strong>Website:</strong> {{ currentClient.website }}</label>

      </div>
      <div>
        <div>
          <label><strong>City:</strong> {{ currentClient.city }}</label>

        </div>
        <div>

          <label><strong>Description:</strong> {{ currentClient.description }}</label>

        </div>

        <div>
          <label><strong>Contacts:</strong></label>
          <ul class="list-group">
            <li class="list-group-item" *ngFor="let contact of contacts">
              {{ contact.name }} {{ contact.surname }}
            </li>
          </ul>
        </div>

          <label><strong>Vacancies:</strong></label>
          <ul class="list-group">
            <li class="list-group-item" *ngFor="let vacancy of vacancies">
              {{ vacancy.title }}
            </li>
          </ul>
        

        <a routerLink="/clients/{{ currentClient.id }}">
          Edit
        </a>
      </div>

      <div *ngIf="!currentClient">
        <br />
        <p>Please click on a Client...</p>
      </div>
    </div>
  </div>