<div class="form-style-5">
    <div *ngIf="currentVacancy.id">
        <h4>Vacancy Details</h4>
        <form>

            <div class="form-group">
                <label for="title">Title</label>
                <input type="text" class="form-control" id="title" [(ngModel)]="currentVacancy.title" name="title" />
            </div>

            <div>
                <label for="budget">Maximum budget</label>
                <input id="budget" class="form-control" type="text" [(ngModel)]="currentVacancy.budget" name="budget" />
            </div>

            <div>
                <label for="currency">Currency</label>
                <input id="currency" class="form-control" type="text" [(ngModel)]="currentVacancy.currency" name="currency" />
            </div>

            <div>
                <label for="budgetType">Type</label>
                <input id="budgetType" class="form-control" type="text" [(ngModel)]="currentVacancy.budgetType"
                    name="budgetType" />
            </div>

            <div>
                <label for="contractType">Contract type</label>
                <input id="contractType" class="form-control" type="text" [(ngModel)]="currentVacancy.contractType"
                    name="contractType" />
            </div>

            <div>
                <label for="skillTags">Requirements</label>
                <input id="skillTags" class="form-control" type="text" [(ngModel)]="currentVacancy.skillTags"
                    name="skillTags" />
            </div>


            <div>
                <label for="budgetType">Description/Comments</label>
                <input id="description" class="form-control" type="text" [(ngModel)]="currentVacancy.description"
                    name="description" />
            </div>

            <div>
                <label for="budgetType">Contact on client's side</label>
                <input id="contact" class="form-control" type="text" [(ngModel)]="currentVacancy.contact" name="contact" />
            </div>


        </form>

        <button class="badge badge-danger mr-2" (click)="deleteVacancy()">
            Delete
        </button>

        <button type="submit" class="badge badge-success mb-2" (click)="updateVacancy()">
            Update
        </button>
        <p>{{ message }}</p>
    </div>

    <div *ngIf="!currentVacancy.id">
        <br />
        <p>Cannot access this Vacancy...</p>
    </div>
</div>